<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
        Make sure the "syncthing" executable is located at ~/usr/local/bin/ivysyncthing.
        Copy this file to ~/Library/LaunchAgents/syncthing.plist.
        Execute "launchctl load ~/Library/LaunchAgents/syncthing.plist".
-->
<plist version="1.0">
        <dict>
                <key>Label</key>
                <string>net.ivysyncthing.ivysyncthing</string>

                <key>ProgramArguments</key>
                <array>
                        <string>/usr/local/bin/ivysyncthing</string>
                </array>

                <key>EnvironmentVariables</key>
                <dict>
                        <key>STNORESTART</key>
                        <string>1</string>
                </dict>

                <key>KeepAlive</key>
                <true/>

                <key>LowPriorityIO</key>
                <true/>

                <key>ProcessType</key>
                <string>Background</string>

        </dict>
</plist>